In [1]:
#Importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display

%matplotlib inline

In [2]:
#Reading data
df = pd.read_csv('HoursKeeper.data.2016.9.9.csv', skiprows=1)

In [3]:
display(df.head(5))
display(df.describe())

,Client Name,Start Time,End Time,Break Time,Worked Hours,Rate/h,Amount,Note
0,P2,7 September 2016 at 17:42:03,7 September 2016 at 19:09:40,0h 00m,1h 28m,"$1,00","$1,47",NaN
1,P1,7 September 2016 at 17:41:56,7 September 2016 at 17:41:58,0h 00m,0h 01m,"$1,00","$0,02",NaN
2,Break,7 September 2016 at 16:41:16,7 September 2016 at 17:41:48,0h 00m,1h 01m,"$0,05","$0,05",NaN
3,P2,7 September 2016 at 15:38:41,7 September 2016 at 16:41:05,0h 00m,1h 03m,"$1,00","$1,05",NaN
4,P2,4 September 2016 at 16:23:00,4 September 2016 at 17:23:00,0h 00m,1h 00m,"$1,00","$1,00",NaN

/Users/ggaasemyr/anaconda3/lib/python3.5/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

       Note
count   0.0
mean    NaN
std     NaN
min     NaN
25%     NaN
50%     NaN
75%     NaN
max     NaN

In [4]:
df.columns

Index(['Client Name', 'Start Time', 'End Time', 'Break Time', 'Worked Hours',
       'Rate/h', 'Amount', 'Note'],
      dtype='object')

In [5]:
#cleaning data, making time and amounts numeric

df['Start Time'] = pd.to_datetime(df['Start Time'])
df['End Time'] = pd.to_datetime(df['End Time'])
df['Worked Hours'] = (pd.to_timedelta(df['Worked Hours']) / np.timedelta64(1, 'm') / 60)

df.head(5)

,Client Name,Start Time,End Time,Break Time,Worked Hours,Rate/h,Amount,Note
0,P2,2016-09-07 17:42:03,2016-09-07 19:09:40,0h 00m,1.466667,"$1,00","$1,47",NaN
1,P1,2016-09-07 17:41:56,2016-09-07 17:41:58,0h 00m,0.016667,"$1,00","$0,02",NaN
2,Break,2016-09-07 16:41:16,2016-09-07 17:41:48,0h 00m,1.016667,"$0,05","$0,05",NaN
3,P2,2016-09-07 15:38:41,2016-09-07 16:41:05,0h 00m,1.050000,"$1,00","$1,05",NaN
4,P2,2016-09-04 16:23:00,2016-09-04 17:23:00,0h 00m,1.000000,"$1,00","$1,00",NaN

In [6]:
df.describe()

/Users/ggaasemyr/anaconda3/lib/python3.5/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

       Worked Hours  Note
count    172.000000   0.0
mean       0.689632   NaN
std        0.619725   NaN
min        0.016667   NaN
25%        0.266667   NaN
50%        0.516667   NaN
75%        0.950000   NaN
max        3.133333   NaN

In [7]:
gb_client = df.groupby('Client Name')

In [8]:
gb_client['Worked Hours'].agg('count').sort_values(ascending=False)

Client Name
P2                    71
Break                 38
P1                    31
Other, optional       14
Python                10
Statistics             5
Other, needed          2
Resource gathering     1
Name: Worked Hours, dtype: int64

Stopping now as this has become proking. To still do: add week numbers and day of the week. Do analysis based on that. Make charts.