In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display, Markdown
%matplotlib inline

In [2]:
df = pd.read_csv('Project/data_files/san_francisco/airbnb_union.csv')

#Setting datetime type
df['date_collected'] = df['date_collected'].astype('datetime64[ns]')
#Creating year column
df ['year'] = df['date_collected'].dt.year

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205532 entries, 0 to 205531
Data columns (total 16 columns):
room_id                 205532 non-null int64
host_id                 205526 non-null float64
room_type               205489 non-null object
borough                 0 non-null float64
neighborhood            205532 non-null object
reviews                 205483 non-null float64
overall_satisfaction    159178 non-null float64
accommodates            197111 non-null float64
bedrooms                194842 non-null float64
price                   205532 non-null int64
minstay                 134055 non-null float64
latitude                205532 non-null float64
longitude               205532 non-null float64
last_modified           205532 non-null object
date_collected          205532 non-null datetime64[ns]
year                    205532 non-null int64
dtypes: datetime64[ns](1), float64(9), int64(3), object(3)
memory usage: 25.1+ MB

In [28]:
df['room_type'].unique()

array(['Private room', 'Entire home/apt', 'Shared room', nan], dtype=object)

In [95]:
#Getting count of units per host and year, entire home only
ent_home_group = df[df['room_type'] == 'Entire home/apt'].\
groupby(['year','host_id'])['room_id'].nunique().to_frame().rename(columns={'room_id':'home_count'}).\
unstack(level=0)

ent_home_group.columns = ent_home_group.columns.droplevel()
ent_home_group['room_type'] = 'Entire home/apt'

In [96]:
ent_home_group

year         2013  2014  2015  2016  2017        room_type
host_id
46.0          NaN   1.0   1.0   1.0   1.0  Entire home/apt
240.0         NaN   1.0   1.0   1.0   NaN  Entire home/apt
275.0         NaN   1.0   1.0   NaN   NaN  Entire home/apt
316.0         NaN   NaN   1.0   1.0   1.0  Entire home/apt
426.0         NaN   2.0   NaN   NaN   NaN  Entire home/apt
470.0         NaN   NaN   1.0   1.0   NaN  Entire home/apt
521.0         NaN   NaN   NaN   1.0   NaN  Entire home/apt
878.0         NaN   1.0   1.0   NaN   NaN  Entire home/apt
1096.0        NaN   1.0   1.0   1.0   1.0  Entire home/apt
1169.0        NaN   1.0   1.0   1.0   1.0  Entire home/apt
2044.0        NaN   NaN   1.0   1.0   1.0  Entire home/apt
3204.0        NaN   NaN   NaN   1.0   NaN  Entire home/apt
3363.0        NaN   NaN   1.0   1.0   NaN  Entire home/apt
3395.0        NaN   1.0   1.0   NaN   NaN  Entire home/apt
4035.0        NaN   NaN   NaN   1.0   NaN  Entire home/apt
6267.0        NaN   NaN   1.0   1.0   NaN  Entire home/apt
7191.0        NaN   NaN   NaN   1.0   1.0  Entire home/apt
7281.0        NaN   1.0   1.0   NaN   NaN  Entire home/apt
7476.0        NaN   1.0   1.0   1.0   NaN  Entire home/apt
7705.0        NaN   1.0   1.0   1.0   1.0  Entire home/apt
8289.0        NaN   NaN   1.0   1.0   1.0  Entire home/apt
8904.0        NaN   1.0   1.0   1.0   1.0  Entire home/apt
9772.0        NaN   NaN   NaN   NaN   1.0  Entire home/apt
10038.0       NaN   1.0   1.0   1.0   1.0  Entire home/apt
10135.0       NaN   1.0   1.0   1.0   1.0  Entire home/apt
10657.0       NaN   NaN   NaN   1.0   NaN  Entire home/apt
11115.0       NaN   NaN   NaN   1.0   1.0  Entire home/apt
12121.0       NaN   NaN   NaN   NaN   1.0  Entire home/apt
12161.0       NaN   1.0   NaN   NaN   NaN  Entire home/apt
15411.0       NaN   NaN   1.0   1.0   NaN  Entire home/apt
...           ...   ...   ...   ...   ...              ...
135936845.0   NaN   NaN   NaN   NaN   1.0  Entire home/apt
136103114.0   NaN   NaN   NaN   NaN   1.0  Entire home/apt
136191158.0   NaN   NaN   NaN   NaN   1.0  Entire home/apt
136252039.0   NaN   NaN   NaN   NaN   1.0  Entire home/apt
136263848.0   NaN   NaN   NaN   NaN   1.0  Entire home/apt
136311374.0   NaN   NaN   NaN   NaN   1.0  Entire home/apt
136545050.0   NaN   NaN   NaN   NaN   1.0  Entire home/apt
136631769.0   NaN   NaN   NaN   NaN   1.0  Entire home/apt
136697755.0   NaN   NaN   NaN   NaN   1.0  Entire home/apt
136792470.0   NaN   NaN   NaN   NaN   1.0  Entire home/apt
136835158.0   NaN   NaN   NaN   NaN   1.0  Entire home/apt
137491875.0   NaN   NaN   NaN   NaN   1.0  Entire home/apt
137534021.0   NaN   NaN   NaN   NaN   1.0  Entire home/apt
137584663.0   NaN   NaN   NaN   NaN   1.0  Entire home/apt
137684925.0   NaN   NaN   NaN   NaN   1.0  Entire home/apt
137702512.0   NaN   NaN   NaN   NaN   1.0  Entire home/apt
137719050.0   NaN   NaN   NaN   NaN   1.0  Entire home/apt
137740313.0   NaN   NaN   NaN   NaN   1.0  Entire home/apt
137892550.0   NaN   NaN   NaN   NaN   1.0  Entire home/apt
137916556.0   NaN   NaN   NaN   NaN   1.0  Entire home/apt
137990461.0   NaN   NaN   NaN   NaN   1.0  Entire home/apt
138051904.0   NaN   NaN   NaN   NaN   1.0  Entire home/apt
138067390.0   NaN   NaN   NaN   NaN   1.0  Entire home/apt
138744209.0   NaN   NaN   NaN   NaN   1.0  Entire home/apt
138966286.0   NaN   NaN   NaN   NaN   1.0  Entire home/apt
139004053.0   NaN   NaN   NaN   NaN   1.0  Entire home/apt
139132883.0   NaN   NaN   NaN   NaN   1.0  Entire home/apt
139134376.0   NaN   NaN   NaN   NaN   1.0  Entire home/apt
139315170.0   NaN   NaN   NaN   NaN   1.0  Entire home/apt
139553832.0   NaN   NaN   NaN   NaN   1.0  Entire home/apt

[11981 rows x 6 columns]

In [97]:
#Getting count of units per host and year, private homes only
private_room_group = df[df['room_type'] == 'Private room'].\
groupby(['year','host_id'])['room_id'].nunique().to_frame().rename(columns={'room_id':'home_count'}).\
unstack(level=0)

private_room_group.columns = private_room_group.columns.droplevel()
private_room_group['room_type'] = 'Private room'

In [98]:
#Getting count of units per host and year, shared rooms only
shared_room_group = df[df['room_type'] == 'Shared room'].\
groupby(['year','host_id'])['room_id'].nunique().to_frame().rename(columns={'room_id':'home_count'}).\
unstack(level=0)

shared_room_group.columns = shared_room_group.columns.droplevel()
shared_room_group['room_type'] = 'Shared room'

In [122]:
all_groups = pd.concat([ent_home_group, private_room_group, shared_room_group])

#Converting index from float to int
all_groups.index = all_groups.index.astype(int)

In [123]:
all_groups.head()

year     2013  2014  2015  2016  2017        room_type
host_id
46        NaN   1.0   1.0   1.0   1.0  Entire home/apt
240       NaN   1.0   1.0   1.0   NaN  Entire home/apt
275       NaN   1.0   1.0   NaN   NaN  Entire home/apt
316       NaN   NaN   1.0   1.0   1.0  Entire home/apt
426       NaN   2.0   NaN   NaN   NaN  Entire home/apt

In [140]:
#Changing year from wide to long
all_groups['host_id'] = all_groups.index
all_groups_long = all_groups.melt(id_vars=['host_id','room_type'],value_name='count')

In [141]:
all_groups_long.to_csv('number_of_units.csv')

In [144]:
all_groups_long[all_groups_long['count'] > 1].tail()

          host_id    room_type  year  count
100541  104582772  Shared room  2017    4.0
100545  113608325  Shared room  2017    3.0
100547  117141107  Shared room  2017    3.0
100550  119355432  Shared room  2017    2.0
100554  123914250  Shared room  2017    3.0

In [148]:
df[df['host_id'] == 470]

,room_id,host_id,room_type,borough,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price,minstay,latitude,longitude,last_modified,date_collected,year
14327,4751080,470.0,Private room,NaN,Mission,0.0,NaN,2.0,1.0,173,2.0,37.755592,-122.408418,2015-02-19 20:23:48.474,2015-02-19,2015
14328,4751090,470.0,Entire home/apt,NaN,Mission,1.0,NaN,4.0,2.0,249,2.0,37.755022,-122.408810,2015-02-19 20:39:22.013,2015-02-19,2015
124489,15344978,470.0,Entire home/apt,NaN,Noe Valley,0.0,NaN,3.0,1.0,75,2.0,37.750712,-122.425213,2016-10-19 20:38:05.917588,2016-10-19,2016

In [150]:
all_groups_long[all_groups_long['host_id'] == 329072]

       host_id    room_type  year  count
19460   329072  Shared room  2013   15.0
39572   329072  Shared room  2014   13.0
59684   329072  Shared room  2015   12.0
79796   329072  Shared room  2016   23.0
99908   329072  Shared room  2017   16.0