In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from display import display, Markdown
%matplotlib inline

ModuleNotFoundError: No module named 'display'

In [2]:
df = pd.read_csv('udacity/ipython_notebooks/p6/Project/data_files/san_francisco/airbnb_union.csv')

In [3]:
df.describe()

,room_id,host_id,borough,reviews,overall_satisfaction,accommodates,bedrooms,price,minstay,latitude,longitude
count,2.055320e+05,2.055260e+05,0.0,205483.000000,159178.000000,197111.000000,194842.000000,205532.000000,134055.000000,205532.000000,205532.000000
mean,7.020337e+06,1.820178e+07,NaN,21.064959,3.959432,3.082111,1.346198,252.027290,3.528656,37.768150,-122.430243
std,4.841478e+06,2.250471e+07,NaN,39.716682,1.807185,1.931360,0.897208,437.442457,9.051024,0.021394,0.025123
min,9.580000e+02,4.600000e+01,NaN,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,37.708278,-122.513065
25%,2.433743e+06,2.597104e+06,NaN,1.000000,4.500000,2.000000,1.000000,108.000000,1.000000,37.754118,-122.441740
50%,6.988943e+06,8.539143e+06,NaN,5.000000,5.000000,2.000000,1.000000,167.000000,2.000000,37.770237,-122.425592
75%,1.077237e+07,2.580596e+07,NaN,22.000000,5.000000,4.000000,2.000000,256.000000,3.000000,37.785236,-122.412920
max,1.978199e+07,1.395538e+08,NaN,513.000000,5.000000,18.000000,10.000000,30000.000000,1000.000000,37.831093,-122.363243

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205532 entries, 0 to 205531
Data columns (total 15 columns):
room_id                 205532 non-null int64
host_id                 205526 non-null float64
room_type               205489 non-null object
borough                 0 non-null float64
neighborhood            205532 non-null object
reviews                 205483 non-null float64
overall_satisfaction    159178 non-null float64
accommodates            197111 non-null float64
bedrooms                194842 non-null float64
price                   205532 non-null int64
minstay                 134055 non-null float64
latitude                205532 non-null float64
longitude               205532 non-null float64
last_modified           205532 non-null object
date_collected          205532 non-null object
dtypes: float64(9), int64(2), object(4)
memory usage: 23.5+ MB

In [20]:
df['host_id'].astype(int)

ValueError: Cannot convert non-finite values (NA or inf) to integer

In [4]:
display(df.groupby('room_type')['room_type'].count())

room_type
Entire home/apt    121681
Private room        76404
Shared room          7404
Name: room_type, dtype: int64

In [17]:
df[df['room_type'] == 'Entire home/apt'].\
groupby(['date_collected','host_id'])['room_id'].count().head(20).to_frame()

                         room_id
date_collected host_id
2013-11-17     38836.0         1
               40784.0         3
               44565.0         1
               95558.0         3
               97769.0         1
               103427.0        1
               112300.0        1
               127367.0        2
               204441.0        1
               232759.0        2
               235797.0        1
               255971.0        1
               326840.0        1
               364983.0        1
               384824.0        1
               389384.0        1
               417293.0        1
               428414.0        1
               551618.0        1
               652918.0        1