In [1]:
%matplotlib inline

import numpy as np
import pandas as pd
from pandas import DataFrame, Series

In [2]:
df = pd.read_csv('data_files/stroopdata.csv')

In [ ]:
np_array = df[['Congruent','Incongruent']].values

In [120]:
print(type(df))
print(type(np_array))

<class 'pandas.core.frame.DataFrame'>
<class 'numpy.ndarray'>

In [5]:
df.count()
df.max()
len(df.index)

24

In [79]:
print(np_array)

[[ 12.079  19.278]
 [ 16.791  18.741]
 [  9.564  21.214]
 [  8.63   15.687]
 [ 14.669  22.803]
 [ 12.238  20.878]
 [ 14.692  24.572]
 [  8.987  17.394]
 [  9.401  20.762]
 [ 14.48   26.282]
 [ 22.328  24.524]
 [ 15.298  18.644]
 [ 15.073  17.51 ]
 [ 16.929  20.33 ]
 [ 18.2    35.255]
 [ 12.13   22.158]
 [ 18.495  25.139]
 [ 10.639  20.429]
 [ 11.344  17.425]
 [ 12.369  34.288]
 [ 12.944  23.894]
 [ 14.233  17.96 ]
 [ 19.71   22.058]
 [ 16.004  21.157]]

In [85]:
#print(type(df))
#print(df)

#df.count()

#df.diff()
#print(df.mean())
#print(df.median())
#print(df.where(df > 20, other='cook'))

#np.nan

#print(df[['Congruent']])
#print(df['Congruent'])
#print(df['Incongruent'].values) #creates an array containing a list of the values of the column
#print(np_array)
#print(df)
#print(df.as_matrix())
#list(df.columns.values)
#df.columns
#df[0:2]
#df.columns.tolist()
#df[['Congruent','Incongruent']]
#df[['Congruent','Incongruent']].values
#df.columns[0]
df[df.columns[0]]

0     12.079
1     16.791
2      9.564
3      8.630
4     14.669
5     12.238
6     14.692
7      8.987
8      9.401
9     14.480
10    22.328
11    15.298
12    15.073
13    16.929
14    18.200
15    12.130
16    18.495
17    10.639
18    11.344
19    12.369
20    12.944
21    14.233
22    19.710
23    16.004
Name: Congruent, dtype: float64

In [108]:
#numpy statistixs

#df['con_SD'] = np.std(df['Congruent'])
#df = df.drop('con_SD',axis=1)
#df['con_SD'] = pd.std(df['Congruent'])

#pandas statistics
df.describe()
#df.std()

       Congruent  Incongruent
count  24.000000    24.000000
mean   14.051125    22.015917
std     3.559358     4.797057
min     8.630000    15.687000
25%    11.895250    18.716750
50%    14.356500    21.017500
75%    16.200750    24.051500
max    22.328000    35.255000

In [112]:
#df.skew()
#df.cov()
#df.corr()

             Congruent  Incongruent
Congruent      1.00000      0.35182
Incongruent    0.35182      1.00000

             Congruent  Incongruent
Congruent    12.669029     6.007123
Incongruent   6.007123    23.011757

In [82]:
#arrays
#np_test = np.array(df['Congruent'],df['Incongruent'])
#print(np_array[1])
np_array

array([[ 12.079,  19.278],
       [ 16.791,  18.741],
       [  9.564,  21.214],
       [  8.63 ,  15.687],
       [ 14.669,  22.803],
       [ 12.238,  20.878],
       [ 14.692,  24.572],
       [  8.987,  17.394],
       [  9.401,  20.762],
       [ 14.48 ,  26.282],
       [ 22.328,  24.524],
       [ 15.298,  18.644],
       [ 15.073,  17.51 ],
       [ 16.929,  20.33 ],
       [ 18.2  ,  35.255],
       [ 12.13 ,  22.158],
       [ 18.495,  25.139],
       [ 10.639,  20.429],
       [ 11.344,  17.425],
       [ 12.369,  34.288],
       [ 12.944,  23.894],
       [ 14.233,  17.96 ],
       [ 19.71 ,  22.058],
       [ 16.004,  21.157]])

In [132]:
%matplotlib inline

In [135]:
#plotplay
#%pylab inline

my_plot = df.plot(kind='scatter')

ValueError: scatter requires and x and y column