The purpose of this file is to perform experiments and keep notes. I prefer to do it this way to keep the other files cleaner and minimize necessary cleanup work later.

In [3]:
import pandas as pd
from pymongo import MongoClient

client = MongoClient()
db = client.osm

df = pd.DataFrame(list(db.bergen.find()))

In [19]:
feature_list = list(db.bergen.find())

In [21]:
feature_list[1000:1001]

[{'_id': ObjectId('58664d22fff9a2e7e4db1e0b'),
  'created': {'changeset': '40217297',
   'timestamp': '2016-06-23T01:14:21Z',
   'uid': '103253',
   'user': 'gormur',
   'version': '7'},
  'id': '674445',
  'pos': [60.3903627, 5.3130335],
  'type': 'node'}]

In [23]:
df['created'][1:10]

1    {'user': 'danerikk', 'changeset': '6007582', '...
2    {'user': 'danerikk', 'changeset': '6007582', '...
3    {'user': 'danerikk', 'changeset': '6007582', '...
4    {'user': 'danerikk', 'changeset': '6007582', '...
5    {'user': 'danerikk', 'changeset': '6007582', '...
6    {'user': 'danerikk', 'changeset': '6007582', '...
7    {'user': 'JackRyan', 'changeset': '1288', 'ver...
8    {'user': 'JackRyan', 'changeset': '1288', 'ver...
9    {'user': 'JackRyan', 'changeset': '1288', 'ver...
Name: created, dtype: object

In [18]:
df['address'][1:10]

1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
Name: address, dtype: object

In [39]:
from IPython import display
from IPython.display import HTML

#Getting count of documents with address field

address_query = { 'address' : {'$exists' : True } }
address_documents = db.bergen.find(address_query)
address_count = address_documents.count()

address_count

84625

In [96]:
address_documents = db.bergen.find(address_query)#, { 
#         'address.street': 1,'address.housenumber': 1,'address.postcode': 1,'address.city': 1
#     }
#                                   )

In [97]:
tmp_list = list(address_documents)

In [121]:
len(tmp_list)

84625

In [122]:
tmp_list[1]

{'_id': ObjectId('58664d2dfff9a2e7e4de9de3'),
 'address': {'city': 'Ask',
  'housenumber': '1',
  'postcode': '5307',
  'street': 'Barstadskogen'},
 'created': {'changeset': '26184573',
  'timestamp': '2014-10-19T03:26:16Z',
  'uid': '103253',
  'user': 'gormur',
  'version': '1'},
 'id': '3137783424',
 'pos': [60.4720553, 5.2158713],
 'type': 'node'}

In [105]:
from pprint import pprint

In [124]:


to_df = list()
# columns = ['street','housenumber','postcode','city']
count = 0 

for doc in tmp_list:
    record = { 'id': doc['id'], 'type': doc['type'] }
    
    for key,val in doc['address'].items():
        record[key] = val
        
    for key,val in doc['created'].items():
        record['created_' + key] = val
    
    if 'pos' in doc.keys():
        record['lat'] = doc['pos'][0]
        record['lon'] = doc['pos'][1]
    
    to_df.append(record)

In [137]:

tmp_set = set()

for doc in tmp_list:
    
    for k,v in doc.items():
        
        if k in ('address','created'):
            for key,val in v.items():
                tmp_set.add(k+'_'+key)
        else:
            tmp_set.add(k)

In [138]:
tmp_set

{'_id',
 'address_city',
 'address_country',
 'address_floor',
 'address_full',
 'address_housename',
 'address_housenumber',
 'address_postcode',
 'address_street',
 'building',
 'contact',
 'created_changeset',
 'created_timestamp',
 'created_uid',
 'created_user',
 'created_version',
 'description',
 'diet',
 'drink',
 'fuel',
 'health_facility',
 'health_specialty',
 'id',
 'internet_access',
 'isced',
 'medical_system',
 'name',
 'node_refs',
 'note',
 'operator',
 'payment',
 'pos',
 'recycling',
 'roof',
 'socket',
 'source',
 'toilets',
 'type',
 'website',
 'wheelchair'}

In [125]:
df_address = pd.DataFrame(to_df, columns = [
        'id','street','housenumber','city','postcode','created_uid','created_user',
        'created_version','created_timestamp','created_uid',
    'lat','lon','type'] )

In [126]:
df_address[1:10]

,id,street,housenumber,city,postcode,created_uid,created_user,created_version,created_timestamp,created_uid,lat,lon,type
1,3137783424,Barstadskogen,1,Ask,5307,103253,gormur,1,2014-10-19T03:26:16Z,103253,60.472055,5.215871,node
2,3137783640,Floridavegen,1,Ask,5307,103253,gormur,1,2014-10-19T03:26:17Z,103253,60.478239,5.214275,node
3,3137783657,Hylenborgvegen,1,Ask,5307,103253,gormur,1,2014-10-19T03:26:18Z,103253,60.461613,5.232743,node
4,3137783662,Kirkevikvegen,1,Ask,5307,103253,gormur,1,2014-10-19T03:26:18Z,103253,60.485959,5.210424,node
5,4147095077,Signalvegen,1,Ask,5307,103253,gormur,1,2016-04-25T16:17:12Z,103253,60.497969,5.181503,node
6,4147095084,Hanevikvegen,10,Ask,5307,103253,gormur,1,2016-04-25T16:17:12Z,103253,60.492297,5.140319,node
7,3137783877,Hopshavn,10,Ask,5307,103253,gormur,1,2014-10-19T03:26:25Z,103253,60.474412,5.218128,node
8,3137783878,Hylenborgvegen,10,Ask,5307,103253,gormur,1,2014-10-19T03:26:25Z,103253,60.462090,5.233743,node
9,3137783886,Kirkevikvegen,10,Ask,5307,103253,gormur,1,2014-10-19T03:26:25Z,103253,60.486063,5.207789,node

In [127]:
df_address.count()

id                   84625
street               84441
housenumber          84375
city                 84386
postcode             84390
created_uid          84625
created_user         84625
created_version      84625
created_timestamp    84625
created_uid          84625
lat                  83998
lon                  83998
type                 84625
dtype: int64

In [26]:
values = []
for cc in db.bergen.find():
  values.append(cc['created'])

print(pd.DataFrame(values)[1:10])

  changeset             timestamp     uid      user version
1   6007582  2010-10-10T22:30:29Z  114230  danerikk       3
2   6007582  2010-10-10T22:30:51Z  114230  danerikk       2
3   6007582  2010-10-10T22:30:50Z  114230  danerikk       3
4   6007582  2010-10-10T22:30:34Z  114230  danerikk       2
5   6007582  2010-10-10T22:29:56Z  114230  danerikk       2
6   6007582  2010-10-10T22:29:55Z  114230  danerikk       3
7      1288  2005-12-27T13:49:02Z     157  JackRyan       1
8      1288  2005-12-27T13:49:03Z     157  JackRyan       1
9      1288  2005-12-27T13:49:04Z     157  JackRyan       1